.App {
  text-align: center;
  font-family: fantasy;
  font-weight: 800;
}

body{
  background-color: rgb(184, 162, 136);
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.images{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.likeBtn{
  background-color: rgb(239, 235, 171);
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

#container{
  display: inline-block;
  margin: 10px;
}



